<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.isales.app.dao.SurveyUserRefDAO">
	<!-- =========================================================== -->
	<!-- 定义resultMap -->
	<!-- =========================================================== -->
	<resultMap id="SurveyUserRefResultMap" type="com.haier.isales.app.domain.SurveyUserRefDomain">
		<id column="id" property="id"  jdbcType="BIGINT"  />
		<result column="research_id" property="researchid"  jdbcType="VARCHAR"  />
		<result column="user_code" property="userCode"  jdbcType="VARCHAR" />
		<result column="create_time" property="createTime"  jdbcType="TIMESTAMP"  />
	</resultMap>
	
	
	<!-- =========================================================== -->
	<!-- 一些公共变量设置 -->
	<!-- =========================================================== -->
	<!-- 查询的所有列 -->
	<sql id="all_Column_List">
	ID	,
	RESEARCH_ID	,
	USER_CODE	,
	CREATE_TIME 
	</sql>
	
	<!-- 分页查询的公共变量 -->
	<sql id="pagination_Tail">
	<![CDATA[
		limit #{pageCond.firstResult},#{pageCond.pageSize}
	]]>
	</sql>
	
	<!-- 查询的所有变量判断 -->
	<sql id="searchConditions">
		<if test="entity.id!=null">and id=#{entity.id}</if>
		<if test="entity.researchid!=null">and research_id = #{entity.researchid}</if>
		<if test="entity.userCode!=null">and user_code = #{entity.userCode}</if>
	</sql>
	
	<!-- =========================================================== -->
	<!-- CommonDao中的dao实现类 -->
	<!-- =========================================================== -->
	<!-- 根据主键查询实体类的方法 -->
	<select id="findById" resultMap="SurveyUserRefResultMap"
		parameterType="Long">
		select <include refid="all_Column_List"/>
		from isales_app.t_survey_user_ref 
		where id = #{id}
	</select>
	
	<!-- 查询此实体表中所有数据的数量 -->
	<select id="count" resultType="long">
		select count(1) 
		from isales_app.t_survey_user_ref
	</select>
	
	<!-- 实体的保存法方法 -->
	<insert id="save" parameterType="com.haier.isales.app.domain.SurveyUserRefDomain"  useGeneratedKeys="true" keyProperty="id" >
		insert into isales_app.t_survey_user_ref
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="researchid!=null">
				RESEARCH_ID	,
			</if>
			<if test="userCode!=null">
				USER_CODE	,
			</if>
			<if test="createTime!=null">
				CREATE_TIME 
			</if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="researchid!=null">
				#{researchid}	,
			</if>
			<if test="userCode!=null">
				#{userCode}	,
			</if>
			<if test="createTime!=null">
				#{createTime}
			</if>
		</trim>
	</insert>
	
	<!-- 实体的更新方法 -->
	<update id="update" parameterType="com.haier.isales.app.domain.SurveyUserRefDomain">
		update isales_app.t_survey_user_ref
		<set>
			RESEARCH_ID = #{researchid},
			USER_CODE = #{userCode},
			CREATE_TIME = #{createTime}
		</set>
		where id = #{id}
	</update>	
	
	<!-- 按照ID主键删除一条记录的功能 -->
	<delete id="delete" parameterType="Long">
		delete from isales_app.t_survey_user_ref 
		where id = #{id}
	</delete>
	
	<!-- 根据参数查询分页查询所有的对象内容 -->
	<select id="findByParams" resultMap="SurveyUserRefResultMap" >
		select <include refid="all_Column_List"/>
		from isales_app.t_survey_user_ref
		where 1=1
		<include refid="searchConditions"/>
		order by research_id
		<include refid="pagination_Tail"/>
	</select>
	<!-- 根据参数查询分页查询所有的对象内容 -->
	<select id="findCountByParams" resultType="integer" >
		select count(1)
		from isales_app.t_survey_user_ref
		where 1=1
		<include refid="searchConditions"/>
	</select>
</mapper>