<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.isales.evaluate.dao.EvalContentDAO">
	<!-- =========================================================== -->
	<!-- 定义resultMap -->
	<!-- =========================================================== -->
	<resultMap id="EvalContentResultMap" type="com.haier.isales.evaluate.domain.EvalContentDomain">
		<id column="uec_id" property="uecId"  jdbcType="INTEGER"  />
		<result column="uec_seq" property="uecSeq"  jdbcType="INTEGER"  />
		<result column="uec_content" property="uecContent"  jdbcType="VARCHAR"  />
	</resultMap>
	
	<!-- =========================================================== -->
	<!-- 一些公共变量设置 -->
	<!-- =========================================================== -->
	<!-- 查询的所有列 -->
	<sql id="all_Column_List">
	UEC_ID	,
	UEC_SEQ	,
	UEC_CONTENT		
	</sql>
	
	<!-- 分页查询的公共变量 -->
	<sql id="pagination_Tail">
	<![CDATA[
		limit #{pageCond.firstResult},#{pageCond.pageSize}
	]]>
	</sql>
	
	<!-- 查询的所有变量判断 -->
	<sql id="searchConditions">
		<if test="entity.uecId!=null">and uec_id=#{entity.uecId}</if>
		<if test="entity.uecSeq!=null">and uec_seq=#{entity.uecSeq}</if>
		<if test="entity.uecContent!=null">and uec_content like CONCAT('%',#{entity.uecContent},'%')</if>
	</sql>
	
	<!-- =========================================================== -->
	<!-- CommonDao中的dao实现类 -->
	<!-- =========================================================== -->
	<!-- 根据主键查询实体类的方法 -->
	<select id="findById" resultMap="EvalContentResultMap"
		parameterType="Integer">
		select <include refid="all_Column_List"/>
		from isales_app.t_user_evaluate_content
		where uec_id = #{id}
	</select>
	
	<!-- 查询此实体表中所有数据的数量 -->
	<select id="count" resultType="long">
		select count(1) 
		from isales_app.t_user_evaluate_content
	</select>
	
	<!-- 实体的保存法方法 -->
	<insert id="save" parameterType="com.haier.isales.evaluate.domain.EvalContentDomain"  useGeneratedKeys="true" keyProperty="uecId" >
		insert into isales_app.t_user_evaluate_content
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="uecSeq!=null">
				UEC_SEQ	,
			</if>
			<if test="uecContent!=null">
				UEC_CONTENT		
			</if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="uecSeq!=null">
				#{uecSeq}	,
			</if>
			<if test="uecContent!=null">
				#{uecContent}		
			</if>
		</trim>
	</insert>
	
	<!-- 实体的更新方法 -->
	<update id="update" parameterType="com.haier.isales.evaluate.domain.EvalContentDomain">
		update isales_app.t_user_evaluate_content
		<set>
			UEC_SEQ = #{uecSeq},
			UEC_CONTENT = #{uecContent},
		</set>
		where uec_id = #{uecId}
	</update>	
	
	<!-- 按照ID主键删除一条记录的功能 -->
	<delete id="delete" parameterType="Integer">
		delete from isales_app.t_user_evaluate_content 
		where uec_id = #{uecId}
	</delete>
	
	<!-- 根据参数查询分页查询所有的对象内容 -->
	<select id="findByParams" resultMap="EvalContentResultMap" >
		select <include refid="all_Column_List"/>
		from isales_app.t_user_evaluate_content
		where 1=1
		<include refid="searchConditions"/>
		<include refid="pagination_Tail"/>
	</select>
	<!-- 根据参数查询分页查询所有的对象内容 -->
	<select id="findCountByParams" resultType="integer" >
		select count(1)
		from isales_app.t_user_evaluate_content
		where 1=1
		<include refid="searchConditions"/>
	</select>
</mapper>