<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.isales.dailymgt.dao.DailyOffdutyDAO">
	<!-- =========================================================== -->
	<!-- 定义resultMap -->
	<!-- =========================================================== -->
	<resultMap id="DailyOffdutyResultMap" type="com.haier.isales.dailymgt.domain.DailyOffdutyDomain">
		<id column="id" property="id"  jdbcType="BIGINT"  />
		<result column="operator_id" property="operatorId"  jdbcType="BIGINT"  />
		<result column="user_code" property="userCode"  jdbcType="VARCHAR"  />
		<result column="user_name" property="userName"  jdbcType="VARCHAR"  />
		<result column="shop_code" property="shopCode"  jdbcType="VARCHAR"  />
		<result column="shop_name" property="shopName"  jdbcType="VARCHAR"  />
		<result column="offduty_date" property="offdutyDate"  jdbcType="TIMESTAMP"  />
		<result column="status" property="status"  jdbcType="VARCHAR"  />
		<result column="create_time" property="createTime"  jdbcType="TIMESTAMP"  />
		<result column="create_id" property="createId"  jdbcType="BIGINT"  />
		<result column="create_name" property="createName"  jdbcType="VARCHAR"  />
		<result column="update_time" property="updateTime"  jdbcType="TIMESTAMP"  />
		<result column="update_id" property="updateId"  jdbcType="BIGINT"  />
		<result column="update_name" property="updateName"  jdbcType="VARCHAR"  />
		<result column="remark" property="remark"  jdbcType="VARCHAR"  />
		<result column="date_string" property="dateString"  jdbcType="VARCHAR"  />
		<result column="CANDELETE" property="canDelete"  jdbcType="VARCHAR"  />
	</resultMap>
	
	<!-- =========================================================== -->
	<!-- 一些公共变量设置 -->
	<!-- =========================================================== -->
	<!-- 查询的所有列 -->
	<sql id="all_Column_List">
	ID	,
	OPERATOR_ID	,
	USER_CODE	,
	USER_NAME	,
	SHOP_CODE	,
	SHOP_NAME	,
	OFFDUTY_DATE	,
	STATUS	,
	CREATE_TIME	,
	CREATE_ID	,
	CREATE_NAME	,
	UPDATE_TIME	,
	UPDATE_ID	,
	UPDATE_NAME	,
	REMARK		
	</sql>
	
	<!-- 分页查询的公共变量 -->
	<sql id="pagination_Tail">
	<![CDATA[
		limit #{pageCond.firstResult},#{pageCond.pageSize}
	]]>
	</sql>
	
	<!-- 查询的所有变量判断 -->
	<sql id="searchConditions">
		<if test="entity.id!=null">and id=#{entity.id}</if>
		<if test="entity.operatorId!=null">and operator_id=#{entity.operatorId}</if>
		<if test="entity.userCode!=null">and user_code like CONCAT('%',#{entity.userCode},'%')</if>
		<if test="entity.userName!=null">and user_name like CONCAT('%',#{entity.userName},'%')</if>
		<if test="entity.shopCode!=null">and shop_code like CONCAT('%',#{entity.shopCode},'%')</if>
		<if test="entity.shopName!=null">and shop_name like CONCAT('%',#{entity.shopName},'%')</if>
		<!-- java.util.Date offduty_date has been ignored!!! -->
		<if test="entity.status!=null">and status like CONCAT('%',#{entity.status},'%')</if>
		<!-- java.util.Date create_time has been ignored!!! -->
		<if test="entity.createId!=null">and create_id=#{entity.createId}</if>
		<if test="entity.createName!=null">and create_name like CONCAT('%',#{entity.createName},'%')</if>
		<!-- java.util.Date update_time has been ignored!!! -->
		<if test="entity.updateId!=null">and update_id=#{entity.updateId}</if>
		<if test="entity.updateName!=null">and update_name like CONCAT('%',#{entity.updateName},'%')</if>
		<if test="entity.remark!=null">and remark like CONCAT('%',#{entity.remark},'%')</if>
	</sql>
	
	<!-- =========================================================== -->
	<!-- CommonDao中的dao实现类 -->
	<!-- =========================================================== -->
	<!-- 根据主键查询实体类的方法 -->
	<select id="findById" resultMap="DailyOffdutyResultMap"
		parameterType="Long">
		select <include refid="all_Column_List"/>
		from isales_app.t_isales_dailymgt_offduty
		where id = #{id}
	</select>
	
	<!-- 查询此实体表中所有数据的数量 -->
	<select id="count" resultType="long">
		select count(1) 
		from isales_app.t_isales_dailymgt_offduty
	</select>
	
	<!-- 实体的保存法方法 -->
	<insert id="save" parameterType="com.haier.isales.dailymgt.domain.DailyOffdutyDomain"  useGeneratedKeys="true" keyProperty="id" >
		insert into isales_app.t_isales_dailymgt_offduty
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="operatorId!=null">
				OPERATOR_ID	,
			</if>
			<if test="userCode!=null">
				USER_CODE	,
			</if>
			<if test="userName!=null">
				USER_NAME	,
			</if>
			<if test="shopCode!=null">
				SHOP_CODE	,
			</if>
			<if test="shopName!=null">
				SHOP_NAME	,
			</if>
			<if test="offdutyDate!=null">
				OFFDUTY_DATE	,
			</if>
			<if test="status!=null">
				STATUS	,
			</if>
			<if test="createTime!=null">
				CREATE_TIME	,
			</if>
			<if test="createId!=null">
				CREATE_ID	,
			</if>
			<if test="createName!=null">
				CREATE_NAME	,
			</if>
			<if test="updateTime!=null">
				UPDATE_TIME	,
			</if>
			<if test="updateId!=null">
				UPDATE_ID	,
			</if>
			<if test="updateName!=null">
				UPDATE_NAME	,
			</if>
			<if test="remark!=null">
				REMARK		
			</if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="operatorId!=null">
				#{operatorId}	,
			</if>
			<if test="userCode!=null">
				#{userCode}	,
			</if>
			<if test="userName!=null">
				#{userName}	,
			</if>
			<if test="shopCode!=null">
				#{shopCode}	,
			</if>
			<if test="shopName!=null">
				#{shopName}	,
			</if>
			<if test="offdutyDate!=null">
				#{offdutyDate}	,
			</if>
			<if test="status!=null">
				#{status}	,
			</if>
			<if test="createTime!=null">
				#{createTime}	,
			</if>
			<if test="createId!=null">
				#{createId}	,
			</if>
			<if test="createName!=null">
				#{createName}	,
			</if>
			<if test="updateTime!=null">
				#{updateTime}	,
			</if>
			<if test="updateId!=null">
				#{updateId}	,
			</if>
			<if test="updateName!=null">
				#{updateName}	,
			</if>
			<if test="remark!=null">
				#{remark}		
			</if>
		</trim>
	</insert>
	
	<!-- 实体的更新方法 -->
	<update id="update" parameterType="com.haier.isales.dailymgt.domain.DailyOffdutyDomain">
		update isales_app.t_isales_dailymgt_offduty
		<set>
			OPERATOR_ID = #{operatorId},
			USER_CODE = #{userCode},
			USER_NAME = #{userName},
			SHOP_CODE = #{shopCode},
			SHOP_NAME = #{shopName},
			OFFDUTY_DATE = #{offdutyDate},
			STATUS = #{status},
			CREATE_TIME = #{createTime},
			CREATE_ID = #{createId},
			CREATE_NAME = #{createName},
			UPDATE_TIME = #{updateTime},
			UPDATE_ID = #{updateId},
			UPDATE_NAME = #{updateName},
			REMARK = #{remark},
		</set>
		where id = #{id}
	</update>	
	
	<!-- 按照ID主键删除一条记录的功能 -->
	<delete id="delete" parameterType="Long">
		delete from isales_app.t_isales_dailymgt_offduty 
		where id = #{id}
	</delete>
	
	<!-- 根据参数查询分页查询所有的对象内容 -->
	<select id="findByParams" resultMap="DailyOffdutyResultMap" >
		select <include refid="all_Column_List"/>
		from isales_app.t_isales_dailymgt_offduty
		where 1=1
		<include refid="searchConditions"/>
		<include refid="pagination_Tail"/>
	</select>
	<!-- 根据参数查询分页查询所有的对象内容 -->
	<select id="findCountByParams" resultType="integer" >
		select count(1)
		from isales_app.t_isales_dailymgt_offduty
		where 1=1
		<include refid="searchConditions"/>
	</select>
</mapper>