<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.isales.workguide.dao.WorkguideDAO">
	<select id="findAll" resultMap="WorkguideResultMap">
		select <include refid="all_Column_List"/> from isales_app.t_isales_workguide_task
			where item_status = 101 order by job_sort asc 
	</select>
</mapper>