<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
 	<!-- 使用dubbo协议暴露服务 -->
    <bean id="userDetailSearchClient" class="com.haier.isales.salerinfo.userdetail.service.impl.UserDetailClientImpl">
   		<property name="userDetailService" ref="userDetailService" />
    </bean>  
    <dubbo:service interface="com.haier.isales.salerinfo.userdetail.service.UserDetailSearchClient" owner="isales" ref="userDetailSearchClient" version="${project.version}"  protocol="dubbo" delay="-1" registry="isalesRegistry"/>
</beans>