<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
 	
 	<!-- 份额信息查询的dubbo -->
    <bean id="quotientSelectClient" class="com.haier.isales.performance.service.impl.QuotientServiceSelectClientImpl">
   		 <property name="quotientService" ref="quotientService" /> 
    </bean>  
    <dubbo:service interface="com.haier.isales.performance.quotient.service.QuotientSelectClient" owner="isales" ref="quotientSelectClient" version="${project.version}"  protocol="dubbo" delay="-1" registry="isalesRegistry"/>

</beans>