<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.isales.products.heretemp.productsclassify.dao.ProductsClassifyDAO">
	<!-- =========================================================== -->
	<!-- 定义resultMap -->
	<!-- =========================================================== -->
	<resultMap id="ProductsClassifyResultMap" type="com.haier.isales.products.heretemp.productsclassify.domain.ProductsClassifyDomain">
		<id column="viewname" property="viewname"  jdbcType="VARCHAR"  />
		<result column="viewdesc" property="viewdesc"  jdbcType="VARCHAR"  />
		<result column="channeldescstrs" property="channeldescstrs"  jdbcType="VARCHAR"  />
		<result column="synchronous_time" property="synchronousTime"  jdbcType="TIMESTAMP"  />
		<result column="remark" property="remark"  jdbcType="VARCHAR"  />
	</resultMap>
	
	<!-- =========================================================== -->
	<!-- 一些公共变量设置 -->
	<!-- =========================================================== -->
	<!-- 查询的所有列 -->
	<sql id="all_Column_List">
	VIEWNAME	,
	VIEWDESC	,
	CHANNELDESCSTRS	,
	SYNCHRONOUS_TIME	,
	REMARK		
	</sql>
	
	<!-- 分页查询的公共变量 -->
	<sql id="pagination_Tail">
	<![CDATA[
		limit #{pageCond.firstResult},#{pageCond.pageSize}
	]]>
	</sql>
	
	<!-- 查询的所有变量判断 -->
	<sql id="searchConditions">
		<if test="entity.viewname!=null">and viewname like CONCAT('%',#{entity.viewname},'%')</if>
		<if test="entity.viewdesc!=null">and viewdesc like CONCAT('%',#{entity.viewdesc},'%')</if>
		<if test="entity.channeldescstrs!=null">and channeldescstrs like CONCAT('%',#{entity.channeldescstrs},'%')</if>
		<!-- java.util.Date synchronous_time has been ignored!!! -->
		<if test="entity.remark!=null">and remark like CONCAT('%',#{entity.remark},'%')</if>
	</sql>
	
	<!-- =========================================================== -->
	<!-- CommonDao中的dao实现类 -->
	<!-- =========================================================== -->
	<!-- 根据主键查询实体类的方法 -->
	<select id="findById" resultMap="ProductsClassifyResultMap"
		parameterType="String">
		select <include refid="all_Column_List"/>
		from isales_temp.t_isales_products_classify_temp
		where viewname = #{id}
	</select>
	
	<!-- 查询此实体表中所有数据的数量 -->
	<select id="count" resultType="long">
		select count(1) 
		from isales_temp.t_isales_products_classify_temp
	</select>
	
	<!-- 实体的保存法方法 -->
	<insert id="save" parameterType="com.haier.isales.products.heretemp.productsclassify.domain.ProductsClassifyDomain" >
		insert into isales_temp.t_isales_products_classify_temp
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="viewname!=null">
				VIEWNAME	,
			</if>
			<if test="viewdesc!=null">
				VIEWDESC	,
			</if>
			<if test="channeldescstrs!=null">
				CHANNELDESCSTRS	,
			</if>
			<if test="synchronousTime!=null">
				SYNCHRONOUS_TIME	,
			</if>
			<if test="remark!=null">
				REMARK		
			</if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="viewname!=null">
				#{viewname}	,
			</if>
			<if test="viewdesc!=null">
				#{viewdesc}	,
			</if>
			<if test="channeldescstrs!=null">
				#{channeldescstrs}	,
			</if>
			<if test="synchronousTime!=null">
				#{synchronousTime}	,
			</if>
			<if test="remark!=null">
				#{remark}		
			</if>
		</trim>
	</insert>
	
	<!-- 实体的更新方法 -->
	<update id="update" parameterType="com.haier.isales.products.heretemp.productsclassify.domain.ProductsClassifyDomain">
		update isales_temp.t_isales_products_classify_temp
		<set>
			VIEWDESC = #{viewdesc},
			CHANNELDESCSTRS = #{channeldescstrs},
			SYNCHRONOUS_TIME = #{synchronousTime},
			REMARK = #{remark},
		</set>
		where viewname = #{viewname}
	</update>	
	
	<!-- 按照ID主键删除一条记录的功能 -->
	<delete id="delete" parameterType="String">
		delete from isales_temp.t_isales_products_classify_temp 
		where viewname = #{viewname}
	</delete>
	
	<!-- 根据参数查询分页查询所有的对象内容 -->
	<select id="findByParams" resultMap="ProductsClassifyResultMap" >
		select <include refid="all_Column_List"/>
		from isales_temp.t_isales_products_classify_temp
		where 1=1
		<include refid="searchConditions"/>
		<include refid="pagination_Tail"/>
	</select>
	<!-- 根据参数查询分页查询所有的对象内容 -->
	<select id="findCountByParams" resultType="integer" >
		select count(1)
		from isales_temp.t_isales_products_classify_temp
		where 1=1
		<include refid="searchConditions"/>
	</select>
</mapper>