<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

	<dubbo:service
		interface="com.haier.isales.monitor.service.BanaStatusMonitor"
		owner="bana" ref="banaDubboRestMonitor" version="${project.version}" protocol="rest"
		delay="-1" registry="isalesRegistry" />
	
	<bean id="banaDubboRestMonitor" class="com.haier.isales.monitor.service.impl.BanaDubboRestMonitor">
    	</bean>

</beans>