<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
		default-lazy-init="true">
		
	<!-- 使用dubbo协议暴露Resource服务 -->
	<bean id="resourceClient" class="com.haier.isales.system.service.impl.ResourceClientImpl">
   		<property name="resourceService" ref="resourceService" />
    </bean>  
    <dubbo:service interface="com.haier.isales.system.service.ResourceClient" owner="isales" ref="resourceClient" version="${project.version}"  timeout="10000" protocol="dubbo" delay="-1" registry="isalesRegistry"/>
	
</beans>