<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.isales.reminder.dao.ReminderDAO">
	<!--  按照状态查询发送记录 -->
	<select id="findBySendStatus" resultMap="ReminderResultMap">
		select <include refid="all_Column_List"/>
		from isales_app.t_isales_reminder
		where send_status in
		<foreach collection="sendStatus" item="item" index="index" open="(" separator="," close=")">
        		#{item}
  		</foreach>
	</select>
</mapper>