<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:lang="http://www.springframework.org/schema/lang" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop.xsd
     http://www.springframework.org/schema/jee 
     http://www.springframework.org/schema/jee/spring-jee.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/lang
     http://www.springframework.org/schema/lang/spring-lang.xsd
     http://www.springframework.org/schema/task
     http://www.springframework.org/schema/task/spring-task.xsd
     http://www.springframework.org/schema/util
     http://www.springframework.org/schema/util/spring-util.xsd">
	
	<!-- 直销员员工信息编码转换任务 -->
	<bean id="employeeTransformJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.haier.isales.quartz.datatranscoding.EmployeeTransformJob" />
		<property name="group" value="#{quartzProperties['org.quartz.scheduler.instanceName']}_JOB_GROUP" />
		<property name="durability" value="false" /><!-- 任务完成之后是否依然保留到数据库，默认false -->
		<property name="description" value="直销员员工信息编码转换任务" />
	</bean>
	<bean id="employeeTransformTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="employeeTransformJobDetail" />
		<!-- 任务执行时间表达式 秒，分，时，日，月，周，年 -->
		<property name="cronExpression" value="0 0 2 * * ?" />
		<property name="group" value="#{quartzProperties['org.quartz.scheduler.instanceName']}_TRIGGER_GROUP" />
	</bean>

	<!-- 定时执行产品型号信息同步转码任务 -->
	<bean id="goodbaseTransformJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.haier.isales.quartz.datatranscoding.GoodbaseTransformJob" />
		<property name="group" value="#{quartzProperties['org.quartz.scheduler.instanceName']}_JOB_GROUP" />
		<property name="durability" value="false" /><!-- 任务完成之后是否依然保留到数据库，默认false -->
		<property name="description" value="定时执行产品型号信息同步转码任务" />
	</bean>
	<bean id="goodbaseTransformTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="goodbaseTransformJobDetail" />
		<!-- 任务执行时间表达式 秒，分，时，日，月，周，年 -->
		<!-- 每天两点执行一次，执行时间大约是 存储过程就几秒钟时间 -->
		<!-- <property name="cronExpression" value="0 0 2 * * ?" /> -->
		<!-- 每4个小时执行一次  -->
		<property name="cronExpression" value="0 0 0/4 * * ?" />
		<property name="group" value="#{quartzProperties['org.quartz.scheduler.instanceName']}_TRIGGER_GROUP" />
	</bean>
	
	<!-- 获取自主经营体系统的门店信息Job -->
	<bean id="organizationTransformJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.haier.isales.quartz.datatranscoding.OrganizationTransformJob" />
		<property name="group" value="#{quartzProperties['org.quartz.scheduler.instanceName']}_JOB_GROUP" />
		<property name="durability" value="false" /><!-- 任务完成之后是否依然保留到数据库，默认false -->
		<property name="description" value="获取自主经营体系统的门店信息Job" />
	</bean>
	<bean id="organizationTransformTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="organizationTransformJobDetail" />
		<!-- 任务执行时间表达式 秒，分，时，日，月，周，年 -->
		<property name="cronExpression" value="0 0 3 * * ?" />
		<property name="group" value="#{quartzProperties['org.quartz.scheduler.instanceName']}_TRIGGER_GROUP" />
	</bean>
	
	<!-- 营销产品线信息同步Job -->
	<bean id="proLineTransformJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.haier.isales.quartz.datatranscoding.ProLineTransformJob" />
		<property name="group" value="#{quartzProperties['org.quartz.scheduler.instanceName']}_JOB_GROUP" />
		<property name="durability" value="false" /><!-- 任务完成之后是否依然保留到数据库，默认false -->
		<property name="description" value="营销产品线信息同步Job" />
	</bean>
	<bean id="proLineTransformTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="proLineTransformJobDetail" />
		<!-- 任务执行时间表达式 秒，分，时，日，月，周，年 -->
		<property name="cronExpression" value="0 0 3 * * ?" />
		<property name="group" value="#{quartzProperties['org.quartz.scheduler.instanceName']}_TRIGGER_GROUP" />
	</bean>
</beans>