<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:lang="http://www.springframework.org/schema/lang" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop.xsd
     http://www.springframework.org/schema/jee 
     http://www.springframework.org/schema/jee/spring-jee.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/lang
     http://www.springframework.org/schema/lang/spring-lang.xsd
     http://www.springframework.org/schema/task
     http://www.springframework.org/schema/task/spring-task.xsd
     http://www.springframework.org/schema/util
     http://www.springframework.org/schema/util/spring-util.xsd">
	
	<!-- 此文件的quartz是同步here官网的产品百科数据 -->
	
	<!-- 视图信息同步Job 是所有数据同步的前提-->
	<bean id="productsViewSyncJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.haier.isales.quartz.datatranscoding.here.ProductsViewSyncJob" />
		<property name="group" value="#{quartzProperties['org.quartz.scheduler.instanceName']}_JOB_GROUP" />
		<property name="durability" value="false" /><!-- 任务完成之后是否依然保留到数据库，默认false -->
		<property name="description" value="here官网同步视图信息同步Job" />
	</bean>
	<bean id="productsViewSyncTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="productsViewSyncJobDetail" />
		<!-- 任务执行时间表达式 秒，分，时，日，月，周，年 -->
		<property name="cronExpression" value="0 0 3 * * ?" />
		<property name="group" value="#{quartzProperties['org.quartz.scheduler.instanceName']}_TRIGGER_GROUP" />
	</bean>
	
	<!-- 规格参数字段和字段解释同步Job 是在同步所有视图同步规格参数的第一步操作-->
	<bean id="productsClassifyParamsSyncJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.haier.isales.quartz.datatranscoding.here.ProductsClassifyParamsSyncJob" />
		<property name="group" value="#{quartzProperties['org.quartz.scheduler.instanceName']}_JOB_GROUP" />
		<property name="durability" value="false" /><!-- 任务完成之后是否依然保留到数据库，默认false -->
		<property name="description" value="here官网规格参数字段和字段解释同步Job" />
	</bean>
	<bean id="productsClassifyParamsSyncTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="productsClassifyParamsSyncJobDetail" />
		<!-- 任务执行时间表达式 秒，分，时，日，月，周，年 -->
		<property name="cronExpression" value="0 30 3 * * ?" />
		<property name="group" value="#{quartzProperties['org.quartz.scheduler.instanceName']}_TRIGGER_GROUP" />
	</bean>
	
	<!-- 规格参数字段和字段value同步Job 是在同步所有规格参数数据的第二步操作-->
	<bean id="productsParamsSyncJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.haier.isales.quartz.datatranscoding.here.ProductsParamsSyncJob" />
		<property name="group" value="#{quartzProperties['org.quartz.scheduler.instanceName']}_JOB_GROUP" />
		<property name="durability" value="false" /><!-- 任务完成之后是否依然保留到数据库，默认false -->
		<property name="description" value="here官网规格参数字段和value解释同步Job" />
	</bean>
	<bean id="productsParamsSyncTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="productsParamsSyncJobDetail" />
		<!-- 任务执行时间表达式 秒，分，时，日，月，周，年 -->
		<property name="cronExpression" value="0 0 4 * * ?" />
		<property name="group" value="#{quartzProperties['org.quartz.scheduler.instanceName']}_TRIGGER_GROUP" />
	</bean>
	
	<!-- 产品详情同步Job -->
	<bean id="productsDetailSyncJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.haier.isales.quartz.datatranscoding.here.ProductsDetailSyncJob" />
		<property name="group" value="#{quartzProperties['org.quartz.scheduler.instanceName']}_JOB_GROUP" />
		<property name="durability" value="false" /><!-- 任务完成之后是否依然保留到数据库，默认false -->
		<property name="description" value="here官网产品详情同步Job" />
	</bean>
	<bean id="productsDetailSyncTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="productsDetailSyncJobDetail" />
		<!-- 任务执行时间表达式 秒，分，时，日，月，周，年 -->
		<property name="cronExpression" value="0 30 3 * * ?" />
		<property name="group" value="#{quartzProperties['org.quartz.scheduler.instanceName']}_TRIGGER_GROUP" />
	</bean>
	
	<!-- 说明书同步Job -->
	<bean id="productsBookSyncJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.haier.isales.quartz.datatranscoding.here.ProductsBookSyncJob" />
		<property name="group" value="#{quartzProperties['org.quartz.scheduler.instanceName']}_JOB_GROUP" />
		<property name="durability" value="false" /><!-- 任务完成之后是否依然保留到数据库，默认false -->
		<property name="description" value="here官网说明书同步Job" />
	</bean>
	<bean id="productsBookSyncTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="productsBookSyncJobDetail" />
		<!-- 任务执行时间表达式 秒，分，时，日，月，周，年 -->
		<property name="cronExpression" value="0 30 3 * * ?" />
		<property name="group" value="#{quartzProperties['org.quartz.scheduler.instanceName']}_TRIGGER_GROUP" />
	</bean>
	
	<!-- 常见问题同步Job -->
	<bean id="productsFAQSyncJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.haier.isales.quartz.datatranscoding.here.ProductsFAQSyncJob" />
		<property name="group" value="#{quartzProperties['org.quartz.scheduler.instanceName']}_JOB_GROUP" />
		<property name="durability" value="false" /><!-- 任务完成之后是否依然保留到数据库，默认false -->
		<property name="description" value="here官网常见问题同步Job" />
	</bean>
	<bean id="productsFAQSyncTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="productsFAQSyncJobDetail" />
		<!-- 任务执行时间表达式 秒，分，时，日，月，周，年 -->
		<property name="cronExpression" value="0 30 3 * * ?" />
		<property name="group" value="#{quartzProperties['org.quartz.scheduler.instanceName']}_TRIGGER_GROUP" />
	</bean>
	
</beans>