<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:lang="http://www.springframework.org/schema/lang" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop.xsd
     http://www.springframework.org/schema/jee 
     http://www.springframework.org/schema/jee/spring-jee.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/lang
     http://www.springframework.org/schema/lang/spring-lang.xsd
     http://www.springframework.org/schema/task
     http://www.springframework.org/schema/task/spring-task.xsd
     http://www.springframework.org/schema/util
     http://www.springframework.org/schema/util/spring-util.xsd">
	
	<!-- 发送邮件任务 -->
	<bean id="sendAppInstallEmailJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.haier.isales.quartz.sendemails.SendAppInstallJob" />
		<property name="group" value="#{quartzProperties['org.quartz.scheduler.instanceName']}_JOB_GROUP" />
		<property name="durability" value="false" /><!-- 任务完成之后是否依然保留到数据库，默认false -->
		<property name="description" value="发送app安装并登录查询邮件任务" />
	</bean>
	<bean id="sendAppInstallEmailTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="sendAppInstallEmailJobDetail" />
		<!-- 任务执行时间表达式 秒，分，时，日，月，周，年 -->
		<property name="cronExpression" value="0 0 8 * * ?" />
		<property name="group" value="#{quartzProperties['org.quartz.scheduler.instanceName']}_TRIGGER_GROUP" />
	</bean>
	
	<!-- 发送邮件任务 -->
	<bean id="sendAppLoginEmailJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.haier.isales.quartz.sendemails.SendAppLoginJob" />
		<property name="group" value="#{quartzProperties['org.quartz.scheduler.instanceName']}_JOB_GROUP" />
		<property name="durability" value="false" /><!-- 任务完成之后是否依然保留到数据库，默认false -->
		<property name="description" value="发送app登录情况查询邮件任务" />
	</bean>
	<bean id="sendAppLoginEmailTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="sendAppLoginEmailJobDetail" />
		<!-- 任务执行时间表达式 秒，分，时，日，月，周，年 -->
		<property name="cronExpression" value="0 0 8 * * ?" />
		<property name="group" value="#{quartzProperties['org.quartz.scheduler.instanceName']}_TRIGGER_GROUP" />
	</bean>
	
</beans>