<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.isales.retail.reportretail.dao.BtbSjcjScrmDAO">
	<!-- =========================================================== -->
	<!-- 定义resultMap -->
	<!-- =========================================================== -->
	<resultMap id="BtbSjcjScrmResultMap" type="com.haier.isales.retail.reportretail.domain.BtbSjcjScrmDomain">
		<id column="id" property="id"  jdbcType="BIGINT"  />
		<result column="months" property="months"  jdbcType="VARCHAR"  />
		<result column="org_code" property="orgCode"  jdbcType="VARCHAR"  />
		<result column="org_name" property="orgName"  jdbcType="VARCHAR"  />
		<result column="chan_code" property="chanCode"  jdbcType="VARCHAR"  />
		<result column="chan_name" property="chanName"  jdbcType="VARCHAR"  />
		<result column="shop_code" property="shopCode"  jdbcType="VARCHAR"  />
		<result column="shop_name" property="shopName"  jdbcType="VARCHAR"  />
		<result column="proline_code" property="prolineCode"  jdbcType="VARCHAR"  />
		<result column="proline_name" property="prolineName"  jdbcType="VARCHAR"  />
		<result column="retail_plan" property="retailPlan"  jdbcType="VARCHAR"  />
		<result column="retail_actual" property="retailActual"  jdbcType="VARCHAR"  />
		<result column="member_new" property="memberNew"  jdbcType="VARCHAR"  />
		<result column="member_total" property="memberTotal"  jdbcType="VARCHAR"  />
		<result column="member_diff" property="memberDiff"  jdbcType="VARCHAR"  />
		<result column="synchronous_time" property="synchronousTime"  jdbcType="TIMESTAMP"  />
		<result column="remark" property="remark"  jdbcType="VARCHAR"  />
	</resultMap>
	
	<!-- =========================================================== -->
	<!-- 一些公共变量设置 -->
	<!-- =========================================================== -->
	<!-- 查询的所有列 -->
	<sql id="all_Column_List">
	ID	,
	MONTHS	,
	ORG_CODE	,
	ORG_NAME	,
	CHAN_CODE	,
	CHAN_NAME	,
	SHOP_CODE	,
	SHOP_NAME	,
	PROLINE_CODE	,
	PROLINE_NAME	,
	RETAIL_PLAN	,
	RETAIL_ACTUAL	,
	MEMBER_NEW	,
	MEMBER_TOTAL	,
	SYNCHRONOUS_TIME	,
	REMARK		
	</sql>
	
	<!-- 分页查询的公共变量 -->
	<sql id="pagination_Tail">
	<![CDATA[
		limit #{pageCond.firstResult},#{pageCond.pageSize}
	]]>
	</sql>
	
	<!-- 查询的所有变量判断 -->
	<sql id="searchConditions">
		<if test="entity.id!=null">and id=#{entity.id}</if>
		<if test="entity.months!=null">and months like CONCAT('%',#{entity.months},'%')</if>
		<if test="entity.orgCode!=null">and org_code like CONCAT('%',#{entity.orgCode},'%')</if>
		<if test="entity.orgName!=null">and org_name like CONCAT('%',#{entity.orgName},'%')</if>
		<if test="entity.chanCode!=null">and chan_code like CONCAT('%',#{entity.chanCode},'%')</if>
		<if test="entity.chanName!=null">and chan_name like CONCAT('%',#{entity.chanName},'%')</if>
		<if test="entity.shopCode!=null">and shop_code like CONCAT('%',#{entity.shopCode},'%')</if>
		<if test="entity.shopName!=null">and shop_name like CONCAT('%',#{entity.shopName},'%')</if>
		<if test="entity.prolineCode!=null">and proline_code like CONCAT('%',#{entity.prolineCode},'%')</if>
		<if test="entity.prolineName!=null">and proline_name like CONCAT('%',#{entity.prolineName},'%')</if>
		<if test="entity.retailPlan!=null">and retail_plan like CONCAT('%',#{entity.retailPlan},'%')</if>
		<if test="entity.retailActual!=null">and retail_actual like CONCAT('%',#{entity.retailActual},'%')</if>
		<if test="entity.memberNew!=null">and member_new like CONCAT('%',#{entity.memberNew},'%')</if>
		<if test="entity.memberTotal!=null">and member_total like CONCAT('%',#{entity.memberTotal},'%')</if>
		<!-- java.util.Date synchronous_time has been ignored!!! -->
		<if test="entity.remark!=null">and remark like CONCAT('%',#{entity.remark},'%')</if>
	</sql>
	
	<!-- =========================================================== -->
	<!-- CommonDao中的dao实现类 -->
	<!-- =========================================================== -->
	<!-- 根据主键查询实体类的方法 -->
	<select id="findById" resultMap="BtbSjcjScrmResultMap"
		parameterType="Long">
		select <include refid="all_Column_List"/>
		from isales_app.t_isales_btb_sjcj_scrm
		where id = #{id}
	</select>
	
	<!-- 查询此实体表中所有数据的数量 -->
	<select id="count" resultType="long">
		select count(1) 
		from isales_app.t_isales_btb_sjcj_scrm
	</select>
	
	<!-- 实体的保存法方法 -->
	<insert id="save" parameterType="com.haier.isales.retail.reportretail.domain.BtbSjcjScrmDomain"  useGeneratedKeys="true" keyProperty="id" >
		insert into isales_app.t_isales_btb_sjcj_scrm
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="months!=null">
				MONTHS	,
			</if>
			<if test="orgCode!=null">
				ORG_CODE	,
			</if>
			<if test="orgName!=null">
				ORG_NAME	,
			</if>
			<if test="chanCode!=null">
				CHAN_CODE	,
			</if>
			<if test="chanName!=null">
				CHAN_NAME	,
			</if>
			<if test="shopCode!=null">
				SHOP_CODE	,
			</if>
			<if test="shopName!=null">
				SHOP_NAME	,
			</if>
			<if test="prolineCode!=null">
				PROLINE_CODE	,
			</if>
			<if test="prolineName!=null">
				PROLINE_NAME	,
			</if>
			<if test="retailPlan!=null">
				RETAIL_PLAN	,
			</if>
			<if test="retailActual!=null">
				RETAIL_ACTUAL	,
			</if>
			<if test="memberNew!=null">
				MEMBER_NEW	,
			</if>
			<if test="memberTotal!=null">
				MEMBER_TOTAL	,
			</if>
			<if test="synchronousTime!=null">
				SYNCHRONOUS_TIME	,
			</if>
			<if test="remark!=null">
				REMARK		
			</if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="months!=null">
				#{months}	,
			</if>
			<if test="orgCode!=null">
				#{orgCode}	,
			</if>
			<if test="orgName!=null">
				#{orgName}	,
			</if>
			<if test="chanCode!=null">
				#{chanCode}	,
			</if>
			<if test="chanName!=null">
				#{chanName}	,
			</if>
			<if test="shopCode!=null">
				#{shopCode}	,
			</if>
			<if test="shopName!=null">
				#{shopName}	,
			</if>
			<if test="prolineCode!=null">
				#{prolineCode}	,
			</if>
			<if test="prolineName!=null">
				#{prolineName}	,
			</if>
			<if test="retailPlan!=null">
				#{retailPlan}	,
			</if>
			<if test="retailActual!=null">
				#{retailActual}	,
			</if>
			<if test="memberNew!=null">
				#{memberNew}	,
			</if>
			<if test="memberTotal!=null">
				#{memberTotal}	,
			</if>
			<if test="synchronousTime!=null">
				#{synchronousTime}	,
			</if>
			<if test="remark!=null">
				#{remark}		
			</if>
		</trim>
	</insert>
	
	<!-- 实体的更新方法 -->
	<update id="update" parameterType="com.haier.isales.retail.reportretail.domain.BtbSjcjScrmDomain">
		update isales_app.t_isales_btb_sjcj_scrm
		<set>
			MONTHS = #{months},
			ORG_CODE = #{orgCode},
			ORG_NAME = #{orgName},
			CHAN_CODE = #{chanCode},
			CHAN_NAME = #{chanName},
			SHOP_CODE = #{shopCode},
			SHOP_NAME = #{shopName},
			PROLINE_CODE = #{prolineCode},
			PROLINE_NAME = #{prolineName},
			RETAIL_PLAN = #{retailPlan},
			RETAIL_ACTUAL = #{retailActual},
			MEMBER_NEW = #{memberNew},
			MEMBER_TOTAL = #{memberTotal},
			SYNCHRONOUS_TIME = #{synchronousTime},
			REMARK = #{remark},
		</set>
		where id = #{id}
	</update>	
	
	<!-- 按照ID主键删除一条记录的功能 -->
	<delete id="delete" parameterType="Long">
		delete from isales_app.t_isales_btb_sjcj_scrm 
		where id = #{id}
	</delete>
	
	<!-- 根据参数查询分页查询所有的对象内容 -->
	<select id="findByParams" resultMap="BtbSjcjScrmResultMap" >
		select <include refid="all_Column_List"/>
		from isales_app.t_isales_btb_sjcj_scrm
		where 1=1
		<include refid="searchConditions"/>
		<include refid="pagination_Tail"/>
	</select>
	<!-- 根据参数查询分页查询所有的对象内容 -->
	<select id="findCountByParams" resultType="integer" >
		select count(1)
		from isales_app.t_isales_btb_sjcj_scrm
		where 1=1
		<include refid="searchConditions"/>
	</select>
</mapper>