<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.isales.moments.dao.MomentsLikeRecordDAO">
	<!-- =========================================================== -->
	<!-- 定义resultMap -->
	<!-- =========================================================== -->
	<resultMap id="MomentsLikeRecordResultMap" type="com.haier.isales.moments.domain.MomentsLikeRecordDomain">
		<id column="id" property="id"  jdbcType="BIGINT"  />
		<result column="moments_id" property="momentsId"  jdbcType="BIGINT"  />
		<result column="operator_id" property="operatorId"  jdbcType="BIGINT"  />
		<result column="type" property="type"  jdbcType="VARCHAR"  />
		<result column="status" property="status"  jdbcType="VARCHAR"  />
		<result column="create_time" property="createTime"  jdbcType="TIMESTAMP"  />
		<result column="update_time" property="updateTime"  jdbcType="TIMESTAMP"  />
	</resultMap>
	
	<!-- =========================================================== -->
	<!-- 一些公共变量设置 -->
	<!-- =========================================================== -->
	<!-- 查询的所有列 -->
	<sql id="all_Column_List">
	ID	,
	MOMENTS_ID	,
	OPERATOR_ID	,
	TYPE	,
	STATUS	,
	CREATE_TIME	,
	UPDATE_TIME		
	</sql>
	
	<!-- 分页查询的公共变量 -->
	<sql id="pagination_Tail">
	<![CDATA[
		limit #{pageCond.firstResult},#{pageCond.pageSize}
	]]>
	</sql>
	
	<!-- 查询的所有变量判断 -->
	<sql id="searchConditions">
		<if test="entity.id!=null">and id=#{entity.id}</if>
		<if test="entity.momentsId!=null">and moments_id=#{entity.momentsId}</if>
		<if test="entity.operatorId!=null">and operator_id=#{entity.operatorId}</if>
		<if test="entity.type!=null">and type like CONCAT('%',#{entity.type},'%')</if>
		<if test="entity.status!=null">and status like CONCAT('%',#{entity.status},'%')</if>
		<!-- java.util.Date create_time has been ignored!!! -->
		<!-- java.util.Date update_time has been ignored!!! -->
	</sql>
	
	<!-- =========================================================== -->
	<!-- CommonDao中的dao实现类 -->
	<!-- =========================================================== -->
	<!-- 根据主键查询实体类的方法 -->
	<select id="findById" resultMap="MomentsLikeRecordResultMap"
		parameterType="Long">
		select <include refid="all_Column_List"/>
		from isales_app.t_isales_moments_like_record
		where id = #{id}
	</select>
	
	<!-- 查询此实体表中所有数据的数量 -->
	<select id="count" resultType="long">
		select count(1) 
		from isales_app.t_isales_moments_like_record
	</select>
	
	<!-- 实体的保存法方法 -->
	<insert id="save" parameterType="com.haier.isales.moments.domain.MomentsLikeRecordDomain"  useGeneratedKeys="true" keyProperty="id" >
		insert into isales_app.t_isales_moments_like_record
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="momentsId!=null">
				MOMENTS_ID	,
			</if>
			<if test="operatorId!=null">
				OPERATOR_ID	,
			</if>
			<if test="type!=null">
				TYPE	,
			</if>
			<if test="status!=null">
				STATUS	,
			</if>
			<if test="createTime!=null">
				CREATE_TIME	,
			</if>
			<if test="updateTime!=null">
				UPDATE_TIME		
			</if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="momentsId!=null">
				#{momentsId}	,
			</if>
			<if test="operatorId!=null">
				#{operatorId}	,
			</if>
			<if test="type!=null">
				#{type}	,
			</if>
			<if test="status!=null">
				#{status}	,
			</if>
			<if test="createTime!=null">
				#{createTime}	,
			</if>
			<if test="updateTime!=null">
				#{updateTime}		
			</if>
		</trim>
	</insert>
	
	<!-- 实体的更新方法 -->
	<update id="update" parameterType="com.haier.isales.moments.domain.MomentsLikeRecordDomain">
		update isales_app.t_isales_moments_like_record
		<set>
			MOMENTS_ID = #{momentsId},
			OPERATOR_ID = #{operatorId},
			TYPE = #{type},
			STATUS = #{status},
			CREATE_TIME = #{createTime},
			UPDATE_TIME = #{updateTime},
		</set>
		where id = #{id}
	</update>	
	
	<!-- 按照ID主键删除一条记录的功能 -->
	<delete id="delete" parameterType="Long">
		delete from isales_app.t_isales_moments_like_record 
		where id = #{id}
	</delete>
	
	<!-- 根据参数查询分页查询所有的对象内容 -->
	<select id="findByParams" resultMap="MomentsLikeRecordResultMap" >
		select <include refid="all_Column_List"/>
		from isales_app.t_isales_moments_like_record
		where 1=1
		<include refid="searchConditions"/>
		<include refid="pagination_Tail"/>
	</select>
	<!-- 根据参数查询分页查询所有的对象内容 -->
	<select id="findCountByParams" resultType="integer" >
		select count(1)
		from isales_app.t_isales_moments_like_record
		where 1=1
		<include refid="searchConditions"/>
	</select>
</mapper>