<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.isales.system.labelgroup.dao.LabelGroupDAO">
	
	<sql id="all_Column_List_For_Query">
	lg.GROUP_ID	,
	lg.GROUP_NAME	,
	lg.GROUP_STATUS	,
	lg.IS_SHARED	,
	lg.UPDATE_ID	,
	lg.UPDATE_NAME	,
	lg.UPDATE_TIME	,
	lg.CREATE_ID	,
	lg.CREATE_NAME	,
	lg.CREATE_TIME		
	</sql>
	
	<!-- 获取用户关联的所有的标签组 -->
	<select id="findGroupsByUser" resultMap="LabelGroupResultMap" 
		parameterType="Long">
		select <include refid="all_Column_List_For_Query"/>
		from isales_sys.t_qn_label_group lg
		left join isales_sys.t_qn_label_group_ref lgr on lgr.group_id=lg.group_id
		left join isales_sys.t_qn_label l on lgr.label_id=l.label_id
		left join isales_sys.t_qn_user_label_ref ulr on ulr.label_id = l.label_id
		left join isales_sys.t_qn_user u on u.operator_id = ulr.operator_id
		where 1=1 
		and u.operator_id = #{opertorId}
	</select>
	
	
</mapper>